@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  font-family: "JetBrains Mono", monospace;
  --foreground: color-mix(in oklch, var(--accent), white 66%);
  --background: #151317;
  --card: #1b191d;
  --accent: #cba6f7;
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

main {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
